{% extends "base.html.twig" %}

{% block title %}Liste des clients{% endblock %}


{% block content %}
<h1 class="">Clients et leurs commerciaux</h1>

<table class="" border="1" cellpadding="8">
    <thead>
        <tr>
            <th>Nom du client</th>
            <th>Ville</th>
            <th>Commercial</th>
        </tr>
    </thead>
    <tbody>
        {% for c in customers %}
        <tr>
            <td>{{ c.customerName }}</td> {# Nom du client #}
            <td>{{ c.city }}</td> {# Ville du client #}
            <td>{{ c.firstName }} {{ c.lastName }}</td> {# Nom et Prénom de l'employé #}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}